@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Instrument+Serif&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

h1 { 
  font-family: 'Instrument Serif';
}

p {
  color: #697281;
  text-align: center;
}

button {
  display:inline;
  align-items: center;
  padding: 8px 16px;
  height: 40px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  position: relative;
  width: auto;
}

button:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

a {
  color: #657489;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inner-container {
  border: 1px dashed #CBD5E1;
  width: 100%;
  height: auto;
  border-radius: 12px;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
}

.header { 
  margin-bottom: 24px;
  text-align: center;
}

.footer {
  text-align: center;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 24px;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 12px;
  border-radius: 24px;
  border: 1px solid #e2e8f0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pword-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  padding: var(--padding-p-25, 10px) gap-3 var(--padding-p-25, 10px) var(--padding-p-3, 12px);
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.password-container {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}

.input-with-button {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  background-color: #F8FAFC;
  box-sizing: border-box;
  padding-right: 60px;
  color: #657489;
}

#copy-button {
  position: absolute;
  right: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  visibility: hidden;
}

.copy-icon {
  width: 16px;
  height: 16px;
  color: #657489;
}

.interactive-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.copy-icon:hover {
  color: #333;
}

input {
  padding: 10px 30px;
  border: none;
  height: 40px;
  font-family: 'Roboto Mono';
}

input:focus {
  outline: none;
}

.password-container {
  margin-top: 12px;
}

.title {
  margin-top: -1px;
  font-weight: 400;
  color: #080808;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.8px;
  line-height: 1.2;
}

.main-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #080808;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main-button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 100px;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.main-button:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.button-text {
  font-family: "Inter-Medium", Helvetica, sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.72px;
  line-height: 1.5;
}

.customize-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  color: #657489;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  margin: 0;
}

.customize-section:hover {
  background-color: #F1F5F9;
}

.dropdown {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  color: #657489;
}

.menu-dropdown {
  width: 100%;
  background-color: #F8FAFC;
  border: 1px solid #E2E8F0;
  padding: 12px;
  border-radius: 12px;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 0;
}

.menu-dropdown.visible {
  visibility: visible;
  max-height: 100%;
  opacity: 1;
  overflow: visible;
  margin-top: 8px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-height: 24px;
  padding: 12px;
  background: white;
  border-radius: 100px;
  border: 2px solid #F1F5F9;
  margin-bottom: 8px;
  color: #657489;
}

.password-slider {
  width: 100%;
  height: 18px;
  background: #F1F5F9;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: 0.2s ease-in-out;
  appearance: none;
  outline: none;
  border-radius: 9px;
  transition: opacity 0.2s ease-in-out;
}

.password-slider::-webkit-slider-runnable-track {
  border-radius: 9px;
  height: 18px;
}

.password-slider:hover {
  opacity: 1;
}

.password-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border: 2px solid #080808;
  border-radius: 100px;
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 2;
}

.password-slider::-webkit-slider-thumb:hover {
  border: 2px solid #080808;
}

.password-slider::-webkit-slider-thumb:active {
  background-color: #F1F5F9;
  transition: all 0.1s ease-in-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F1F5F9;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 100px;

}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #080808;
}

input:focus + .slider {
  box-shadow: 0 0 1px #080808;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.pword-length-num-inner-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

@media (max-width: 768px) {
  .frame {
    width: 90%;
    max-width: 400px;
  }

  .title {
    font-size: 32px;
  }

  .author {
    font-size: 14px;
  }

  .button-text {
    font-size: 16px;
  }
}

/* Basic responsive design */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}